* { /* BODY */
    box-sizing: border-box;
}
body{
    font-family: arial; 
    margin: 0px;
    padding: 0px;
    height: 5000px;
}
nav{ /* NAV */
    position: sticky;
    top: 0px;
}
.navbar{
  
    background-color: #e67e22;
    height: 65px;
}
.navbar-content p{
    margin: 0px;
    padding: 15px 15px 15px 15px;
    font-size: 25px;
    text-align: center;
}
aside{ /* ASIDE */
    min-height: 200px;
    height: auto;
}
footer{ /* FOOTER */
    position: sticky;
    height: 90px;
    background-color: rgb(170, 60, 16);
    color: white;
    text-align: center;
    padding: 3px 15px 15px 15px;
}